<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Big Data Project</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
  
    
  </head>
  <header>
    <h1> Restaurant Tags </h1>
  </header>

  <body style="background-image:url(/static/images/image.gif)">
    <form method="POST" action="/results"> 
      <input type="checkbox" name="checkbox" value="Service"/>Service<br>
      <input type="checkbox" name="checkbox" value="Ambience"/>Ambience<br>
      <input type="checkbox" name="checkbox" value="Kid-friendly"/>Kid-friendly<br>
      <input type="checkbox" name="checkbox" value="Price"/>Price<br>
      <input type="checkbox" name="checkbox" value="Staff"/>Staff<br>
      <input type="checkbox" name="checkbox" value="Drinks"/>Drinks<br>
      <input type="checkbox" name="checkbox" value = "Parking"/>Parking<br>
      <input type="checkbox" name="checkbox" value="Italian"/>Italian<br>
      <input type="checkbox" name="checkbox" value="Pizza"/>Pizza<br>
      <input type="checkbox" name="checkbox" value="American"/>American<br>
      <input type="checkbox" name="checkbox" value="Seafood"/>Seafood<br>
      <input type="checkbox" name="checkbox" value="Buffet"/>Buffet<br>
      <input type="checkbox" name="checkbox" value="Breakfast"/>Breakfast<br>
      <input type="checkbox" name="checkbox" value="Coffee"/>Coffee<br>
      <input type="checkbox" name="checkbox" value="Bar" />Bar<br>
      <input type="checkbox" name="checkbox" value="Discount" />Discount<br>
      <input type="checkbox" name="checkbox" value="Mexican" />Mexican<br>
      <input type="checkbox" name="checkbox" value="Wine" />Wine<br>
      <input type="checkbox" name="checkbox" value="Pub" />Pub<br>
      <input type="checkbox" name="checkbox" value="View" />View<br>
      </select>
      <input type="submit">
    </form>
  </body>
</html>
